/*
    Document   : main.css
    Created on : 08/08/2011
    Author     : Fabien CANU
    Description:
        CSS du site demoland
*/



/* __________________________________________________________________________ */
/*  BASE */

@font-face {
	font-family : 'letgothl';
	
	src : url('font/letgothl.ttf');
	src : local('☺'), url('font/letgothl-webfont.woff') format('woff'), url('font/letgothl.ttf') format('truetype'), url('font/letgothl-webfont.svg#webfontCooZ7M2s') format('svg');
	
	font-weight : normal;
	font-style  : normal;
}

@font-face {
	font-family : 'PeacefulDay';
	
	src : url('font/PeacefulDay.ttf');
	src : local('☺'), url('font/PeacefulDay.woff') format('woff'), url('font/PeacefulDay.ttf') format('truetype'), url('font/PeacefulDay.svg#webfontCooZ7M2s') format('svg');
	
	font-weight : normal;
	font-style  : normal;
}

body {
	font : 14px "letgothl", sans-serif;
    background: url(/web/images/bg-body.jpg) 50% 25% no-repeat;
	height: 100%;
	color: #ad6661;
}

#container {
    width: 1200px;
	height: 835px;
    position: absolute;
	margin-left: -600px;
	left: 50%;
	top: 30px;
}

a {
    text-decoration: none;
    color: gray;
}

a:hover {
    color: #E52B38;
}


/* Fin BASE */
/* ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */



/* __________________________________________________________________________ */
/* HEADER                                                                     */
header {
    width: 341px;
	height: 267px;
    position: absolute;
	left: 454px;
	top: -30px;   
	background: url(/web/images/logo.png);
}

header h1 a {
	display: block;
    width: 341px;
	height: 267px;
	text-indent: -9999px;
}

header h2 {
	font : bold 30px "PeacefulDay", sans-serif;    
	width: 500px;
	height: 150px;
    position: absolute;
	left: -15px;
	top: 270px;  
	color: #e8c447;	
}

header h2  span {
	color: #ac675f;
}


/* Fin HEADER */
/* ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */



/* __________________________________________________________________________ */
/* CONTENT HOME */  

/* FOCUS */
#focus {
    width: 473px;
	height: 381px;
    position: absolute;
	left: 30px;
	bottom: 43px;   
	background: url(/web/images/panneau.png);
}

#focus h3 {
	margin: 45px 50px 20px 100px;
}

#focus p {
	font: 13px arial !important;
	margin: 40px 160px 0 100px;
}

#focus ul {    
	width: 85px;
	height: 220px;
    position: absolute;
	right: 45px;
	top: 55px;
	margin: 0;
	list-style: none;
}

#focus ul  li {
	line-height: 25px;
}

#focus ul  li a {
	color: #9c9281;
}

/* HTML5 */
#html5 {
    width: 273px;
	height: 225px;
    position: absolute;
	left: 500px;
	bottom: 200px;   
	background: url(/web/images/html5.png);
	text-indent: -9999px;
}

#html5 a {
	display: block;
    position: absolute;
    width: 92px;
	height: 81px;
	left: 115px;
	top: -35px;   
	background: url(/web/images/bulle-html5.png) no-repeat;
}

/* CSS3 */
#css3 {
    width: 366px;
	height: 207px;
    position: absolute;
	right: 100px;
	bottom: 90px;   
	background: url(/web/images/css3.png);
	text-indent: -9999px;
}

#css3 a {
	display: block;
    position: absolute;
    width: 118px;
	height: 112px;
	left: 150px;
	top: -75px;   
	background: url(/web/images/bulle-css3.png) no-repeat;
}

/* TOOLS */
#tools {
    width: 126px;
	height: 82px;
    position: absolute;
	right: 320px;
	bottom: 280px;   
	background: url(/web/images/tools.png);
	text-indent: -9999px;
}

#tools a {
	display: block;
    position: absolute;
    width: 92px;
	height: 81px;
	left: -30px;
	top: 30px;   
	background: url(/web/images/bulle-tools.png) no-repeat;
}

/* INFO */
#info {
    width: 437px;
	height: 383px;
    position: absolute;
	right: 75px;
	bottom: 85px;   
	background: url(/web/images/panneau-2.png);
}

#info h3 {
	margin: 45px 50px 20px 100px;
}

#info p {
	font: 13px arial !important;
	margin: 40px 160px 0 100px;
}

/* DIVERS */
#divers {
    width: 177px;
	height: 128px;
    position: absolute;
	right: 520px;
	bottom: 100px;   
	background: url(/web/images/divers.png);
}

/* Fin CONTENT */
/* ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */



/* __________________________________________________________________________ */
/* CONTENT INTER */  

/* HTML5 */
#content {    
	width: 680px;
	height: 383px;
    position: absolute;
	left: 0;
	bottom: 85px;   
}

.content-html5 {
	background: url(/web/images/html5-full.png) 150px 20px no-repeat;
}

#content ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

#content li.file-api {position: absolute;	right: 185px; top: 35px;}
#content li.websockets {position: absolute;	right: 230px; bottom: 20px;}
#content li.canvas {position: absolute;	right: 18px; bottom: 51px;}
#content li.forms {position: absolute;	left: 105px; top: 240px;}
#content li.balises {position: absolute;	left: 210px; bottom: -5px;}
#content li.web-storage {position: absolute;	left: 165px; top: 50px;}

#content li a {
	display: block;
	padding-top: 45px;
}

/* Recalage pour les mauvais centrage */

#content li.web-storage a {padding-top: 35px;}
#content li.websockets a {padding-top: 35px;}

/* Bulle html5 */


/* INFO DEMO */
#info-demo {
    width: 325px;
	height: 310px;
    position: absolute;
	right: 75px;
	bottom: 85px;   
	background: url(/web/images/panneau-2.png) no-repeat;
	padding: 45px 60px 20px 50px;
}

#info-demo h3 {
	/*margin: 45px 60px 20px 50px;*/
}

#info-demo p {
	font: 13px arial !important;
	margin: 20px 0;
}

/* Fin CONTENT */
/* ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */


/* __________________________________________________________________________ */
/* FOOTER */

footer {
    bottom: 0;
    color: white;
    height: 50px;
    left: 400px;
    position: absolute;
    width: 600px;
}

footer a {
	color: white;
}

/* Fin FOOTER */
/* ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */



/* __________________________________________________________________________ */
/* DIVERS */

/* Sprite bulle */
.sprite-bulle-1{ background: url(/web/images/sprite-bulles.png) 0 0 no-repeat; width: 107px; height: 106px; } 
.sprite-bulle-2{ background: url(/web/images/sprite-bulles.png) 0 -116px no-repeat; width: 107px; height: 106px; } 
.sprite-bulle-3{ background: url(/web/images/sprite-bulles.png) 0 -232px no-repeat; width: 107px; height: 106px; } 
.sprite-bulle-4{ background: url(/web/images/sprite-bulles.png) 0 -348px no-repeat; width: 107px; height: 106px; } 
.sprite-bulle-5{ background: url(/web/images/sprite-bulles.png) 0 -464px no-repeat; width: 107px; height: 106px; } 
.sprite-bulle-6{ background: url(/web/images/sprite-bulles.png) 0 -580px no-repeat; width: 107px; height: 106px; } 
.sprite-bulle-7{ background: url(/web/images/sprite-bulles.png) 0 -696px no-repeat; width: 107px; height: 106px; } 
.sprite-bulle-8{ background: url(/web/images/sprite-bulles.png) 0 -812px no-repeat; width: 107px; height: 106px; } 
.sprite-bulle-9{ background: url(/web/images/sprite-bulles.png) 0 -928px no-repeat; width: 107px; height: 106px; } 
.sprite-bulle-10{ background: url(/web/images/sprite-bulles.png) 0 -1044px no-repeat; width: 107px; height: 106px; } 
.sprite-bulle-11{ background: url(/web/images/sprite-bulles.png) 0 -1160px no-repeat; width: 107px; height: 106px; } 
.sprite-bulle-12{ background: url(/web/images/sprite-bulles.png) 0 -1276px no-repeat; width: 107px; height: 106px; } 



/* Fin DIVERS */
/* ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ */

